import React, { ReactElement } from 'react';

type {{pascalCase name}}PropsType = {

}

export function {{pascalCase name}}({}: {{pascalCase name}}PropsType): ReactElement {
  return (
    <div className="container mx-auto">
      <p className="font-sans">{{pascalCase name}}</p>
    </div>
  );
};